src/.kube/*
!src/.kube/kubie.yaml
src/.config/direnv/allow/
src/.config/direnv/lib/use_asdf.sh
src/.config/fish/completions/*
src/.config/fish/conf.d/*
src/.config/fish/fish_variables
src/.config/fish/functions/*
src/.config/git/config.local
src/.config/git/templates/hooks/*
src/.config/gtk-2.0/gtkfilechooser.ini
src/.config/lazygit/state.yml
src/.config/nnn/mounts/
src/.config/nnn/sessions/
src/.config/nvim/lua/user/local.lua
src/.config/systemd/user/*.target.wants/
src/.config/systemd/user/containerd.service
src/.config/tmux/tmux.conf.local
!.gitkeep

src/.config/qmk/firmware
