root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*/.config/hypr/*.conf]
indent_size = 4

[**/*.ahk]
indent_style = tab

[*/dot_config/git/config]
indent_style = tab

[*/dot_docker/config.json]
indent_style = tab
insert_final_newline = false

[*/dot_config/nwg-look/config]
indent_size = 1

[**/dot_local/bin/*]
indent_style = unset

[**/dot_config/git/templates/hooks/*]
indent_style = unset

[**/*.sh{,.tmpl}]
indent_style = tab

[**/*.bash]
indent_style = tab

[**/{dot_zshenv,dot_zshrc,*.zsh,dot_zshrc.d/functions/**}]
indent_style = tab

[**/*.tmux]
indent_style = tab

[**/*.lua]
indent_style = tab

[*.md]
# NOTE: avoid `Wrong amount of left-padding spaces`
indent_size = unset
trim_trailing_whitespace = false

[misc/wsl/remap.skl]
insert_final_newline = false

[misc/firefox/canvas-blocker.json]
indent_style = tab
insert_final_newline = false

[misc/firefox/ublock.txt]
insert_final_newline = false

[misc/firefox/libredirect.json]
insert_final_newline = false

[misc/firefox/zero_omega.bak]
insert_final_newline = false

[home/dot_config/mozilla/firefox/*.default-release/search.json.mozlz4]
charset = unset
end_of_line = unset
indent_style = unset
insert_final_newline = false
trim_trailing_whitespace = false

[misc/firefox/twp.txt]
insert_final_newline = false

[home/dot_config/luacheck/dot_luacheckrc]
indent_style = tab
