root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[justfile]
indent_size = 4

[*/.config/hypr/*.conf]
indent_size = 4

[**/*.ahk]
indent_style = tab

[*/dot_config/git/config]
indent_style = tab

[**/dot_local/bin/*]
indent_style = unset

[**/*.sh]
indent_style = tab

[**/*.bash]
indent_style = tab

[**/{dot_zshenv,dot_zshrc,*.zsh,dot_zshrc.d/functions/**}]
indent_style = tab

[**/*.tmux]
indent_style = tab

[**/*.lua]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[misc/wsl/misc/remap.skl]
insert_final_newline = false

[misc/firefox/canvas-blocker.json]
indent_style = tab
insert_final_newline = false

[misc/firefox/ublock.txt]
insert_final_newline = false

[misc/firefox/libredirect.json]
insert_final_newline = false

[misc/firefox/zero_omega.bak]
insert_final_newline = false

[src/dot_mozilla/firefox/*.default-release/search.json.mozlz4]
end_of_line = unset
indent_style = unset
insert_final_newline = false
trim_trailing_whitespace = false

[misc/firefox/twp.txt]
insert_final_newline = false

[src/dot_config/luacheck/dot_luacheckrc]
indent_style = tab
