src/.kube/*
!src/.kube/kubie.yaml
src/.msf4/*
!src/.msf4/config
src/.config/direnv/allow/
src/.config/direnv/lib/use_rtx.sh
src/.config/fish/completions/*
src/.config/fish/conf.d/*
src/.config/fish/fish_variables
src/.config/fish/functions/*
src/.config/gh/hosts.yml
src/.config/git/config.local
src/.config/git/templates/hooks/*
src/.config/gtk-2.0/gtkfilechooser.ini
src/.config/lazygit/state.yml
src/.config/ncspot/userstate.cbor
src/.config/nnn/.selection
src/.config/nnn/mounts/
src/.config/nnn/sessions/
src/.config/nvim/lua/user/local.lua
src/.config/psd/.psd.conf
src/.config/systemd/user/*.target.wants/
src/.config/systemd/user/containerd.service
src/.config/systemd/user/buildkit.service
src/.config/systemd/user/default-buildkit.service
src/.config/tmux/tmux.conf.local
!.gitkeep
goss-vars.yaml
