test/templates/*.yaml
src/.config/nvim/lazy-lock.json
misc/firefox/foxy_proxy.json
misc/firefox/libredirect.json
misc/pentest-lab/charts/*/templates/*.yaml
misc/pentest-lab/charts/*/templates/tests/*.yaml
