repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            src/.config/nvim/lazy-lock.json|
            misc/firefox/ublock.txt|
            misc/firefox/switchy_omega.bak|
            misc/firefox/twp.txt
          )$
      - id: check-added-large-files
      - id: fix-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: .config/nvim/skel/default.*$
  - repo: local
    hooks:
      - id: prettier
        name: format json and markdown files with prettier
        language: system
        entry: prettier --write --list-different --ignore-unknown
        types_or: [json, markdown]
      - id: yamlfmt
        name: format yaml files with yamlfmt
        language: system
        entry: yamlfmt -lint
        types_or: [yaml]
        exclude: |
          (?x)^(
            test/templates/.*|
            misc/security-lab/charts/.*
          )$
      - id: yamllint
        name: check yaml files with yamllint
        language: system
        entry: yamllint
        types: [file, yaml]
      - id: markdownlint-cli2
        name: check markdown files with markdownlint-cli2
        language: system
        entry: markdownlint-cli2
        types: [markdown]
      - id: shellcheck
        name: check bash configs with shellcheck
        language: system
        entry: shellcheck -s bash
        types: [bash, non-executable]
      - id: shellcheck
        name: check shell scripts with shellcheck
        language: system
        entry: shellcheck -x
        types: [executable]
      - id: zsh-no-exec
        name: check zsh files with --no-exec option of zsh
        language: system
        entry: zsh --no-exec
        types: [zsh]
      - id: hyprland
        name: check config of hyprland with hyprland configerrors option
        language: system
        entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
        files: .config/hypr/hyprland.conf$
        pass_filenames: false
      - id: selene
        name: check lua files with selene
        language: system
        entry: selene
        types: [lua]
      - id: editorconfig-checker
        name: check files with editorconfig-checker
        language: system
        entry: ec
      - id: taplo-format
        name: format toml files with taplo format
        language: system
        entry: taplo format
        types: [toml]
        exclude: |
          (?x)^(
            src/.config/pet/config.toml|
            src/.config/pet/snippet.toml
          )$
      - id: shellharden
        name: format shell scripts with shellharden
        language: system
        entry: shellharden --replace
        types_or: [sh, bash]
      - id: shfmt
        name: format shell scripts with shfmt
        language: system
        entry: shfmt -w
        types_or: [sh, bash]
      - id: just
        name: format justfile with just --fmt option
        language: system
        entry: just --fmt --unstable
        files: justfile$
        pass_filenames: false
      - id: stylua
        name: format lua files with stylua
        language: system
        entry: stylua
        types: [lua]
      - id: taplo-lint
        name: format toml files with taplo lint
        language: system
        entry: taplo lint
        types: [toml]
      - id: visudo
        name: check sudoers
        language: system
        entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"
        files: misc/etc/sudoer.d/.*
      - id: goss
        name: check dotfiles with goss
        language: system
        entry: goss validate
        pass_filenames: false
      - id: commitlint
        name: check commit message with commitlint
        language: system
        minimum_pre_commit_version: 0.7.0
        stages: [commit-msg]
        entry: commitlint --edit
