repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            src/dot_docker/config.json|
            src/dot_config/nvim/lazy-lock.json|
            src/dot_mozilla/firefox/installs.ini|
            src/dot_mozilla/firefox/profiles.ini|
            misc/firefox/canvas-blocker.json|
            misc/firefox/ublock.txt|
            misc/firefox/libredirect.json|
            misc/firefox/zero_omega.bak|
            misc/firefox/twp.txt
          )$
      - id: check-added-large-files
      - id: fix-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: src/.*
  - repo: local
    hooks:
      # all files
      - id: editorconfig-checker
        name: check files with editorconfig-checker
        language: system
        entry: ec
      - id: typos
        name: check files with typos
        language: system
        entry: typos
      # JSON files
      - id: prettier-json
        name: format json files with prettier
        language: system
        entry: prettier --write --list-different --ignore-unknown
        types_or: [json]
      # YAML files
      - id: yamlfmt
        name: format yaml files with yamlfmt
        language: system
        entry: yamlfmt -lint
        types_or: [yaml]
      - id: yamllint
        name: check yaml files with yamllint
        language: system
        entry: yamllint
        types: [file, yaml]
      # TOML files
      - id: taplo-format
        name: format toml files with taplo format
        language: system
        entry: taplo format
        types: [toml]
        exclude: |
          (?x)^(
            src/.config/pet/config.toml|
            src/.config/pet/snippet.toml
          )$
      - id: taplo-lint
        name: format toml files with taplo lint
        language: system
        entry: taplo lint
        types: [toml]
      # Markdown files
      - id: prettier-markdown
        name: format markdown files with prettier
        language: system
        entry: prettier --write --list-different --ignore-unknown --tab-width 4
        types_or: [markdown]
      - id: markdownlint-cli2
        name: check markdown files with markdownlint-cli2
        language: system
        entry: markdownlint-cli2
        types: [markdown]
      # shell scripts
      - id: shfmt
        name: format shell scripts with shfmt
        language: system
        entry: shfmt -w
        types_or: [sh, bash]
      - id: shellharden
        name: format shell scripts with shellharden
        language: system
        entry: shellharden --replace
        types_or: [sh, bash]
      - id: shellcheck
        name: check bash configs with shellcheck
        language: system
        entry: shellcheck -s bash
        types: [bash, non-executable]
      - id: shellcheck
        name: check shell scripts with shellcheck
        language: system
        entry: shellcheck -x
        types: [executable]
      # zsh files
      - id: zsh-no-exec
        name: check zsh files with --no-exec option of zsh
        language: system
        entry: zsh --no-exec
        types: [zsh]
      # hyprland config files
      - id: hyprland
        name: check config of hyprland with hyprland configerrors option
        language: system
        entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
        files: .config/hypr/hyprland.conf$
        pass_filenames: false
      # lua files
      - id: selene
        name: check lua files with selene
        language: system
        entry: selene
        types: [lua]
      - id: stylua
        name: format lua files with stylua
        language: system
        entry: stylua
        types: [lua]
      # etc files
      - id: bats
        name: check dotfiles with bats
        language: system
        entry: bats test
        pass_filenames: false
      - id: visudo
        name: check sudoers
        language: system
        entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"
        files: misc/etc/sudoer.d/.*
