---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  namespace: vuln-web-app
  {{- with .Values.labels }}
  labels:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  ports:
    - port: {{ .Values.port }}
  selector:
    app.kubernetes.io/name: {{ .Values.name }}
