{{ if eq .chezmoi.os "linux" -}}
{{   if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
pinentry-program /usr/bin/pinentry-gtk
{{   else -}}
pinentry-program /mnt/c/Program Files/Gpg4win/bin/pinentry.exe
{{   end -}}
{{ end -}}
