#!/bin/sh

set -eu

WSL_DISTRO_NAME="${WSL_DISTRO_NAME:=none}"

if [ "$WSL_DISTRO_NAME" = "none" ]; then
	gum log --level warn "$0: not running on WSL -- skipping"
	exit 0
fi

gum log --level info 'Configure locale'
sudo sed -i -e '/^#en_US.UTF-8 UTF-8  $/s/#//' /etc/locale.gen
sudo locale-gen

gum log --level info 'Enable progress bar of pacman'
sudo sed -i -e '/^#NoProgressBar$/s/#//' /etc/pacman.conf

gum log --level info 'Copy etc files'
xargs -I {} sudo cp -fv ~/.local/share/chezmoi/{} /{} <<-EOF
	etc/systemd/system/rkhunter.service
	etc/systemd/system/rkhunter.timer
	etc/sudoers.d/env-keep
	etc/sudoers.d/pwfeedback
	etc/sudoers.d/wheel
EOF

# https://learn.microsoft.com/en-us/windows/wsl/wsl-config#configuration-setting-for-wslconfig
sudo cp -fv \
	~/.local/share/chezmoi/etc/wsl.conf \
	/etc/wsl.conf

# NOTE: fix wslg bug of WSL
# https://github.com/microsoft/wslg/issues/1032#issuecomment-2310369848
sudo mkdir -p /etc/tmpfiles.d/
sudo cp -fv \
	~/.local/share/chezmoi/etc/tmpfiles.d/wslg.conf \
	/etc/tmpfiles.d/wslg.conf

# NOTE: fix clock sync bug of WSL
# https://github.com/microsoft/WSL/issues/8204#issuecomment-1339506778
sudo mkdir -p /etc/systemd/system/systemd-timesyncd.service.d/
sudo cp -fv \
	~/.local/share/chezmoi/etc/systemd/system/systemd-timesyncd.service.d/override.conf \
	/etc/systemd/system/systemd-timesyncd.service.d/override.conf

gum log --level info 'Override binaries with exe files'
cat <<-'EOF' >~/.local/bin/firefox
	#!/bin/sh

	exec /mnt/c/Program\ Files/Mozilla\ Firefox/firefox.exe "$@"
EOF
chmod +x ~/.local/bin/firefox

cat <<-'EOF' >~/.local/bin/wl-paste
	#!/bin/sh

	/usr/sbin/wl-paste "$@" | tr -d '\r'
EOF
chmod +x ~/.local/bin/wl-paste

cat <<-'EOF' >~/.local/bin/xdg-open
	#!/bin/sh

	exec powershell.exe start "$@"
EOF
chmod +x ~/.local/bin/xdg-open

cat <<-'EOF' >~/.local/bin/ncspot
	#!/bin/sh

	# shellcheck disable=SC2016
	exec powershell.exe -c '& "$env:USERPROFILE\AppData\Local\Microsoft\WinGet\Packages\hrkfdn.ncspot_Microsoft.Winget.Source_8wekyb3d8bbwe\ncspot.exe"' "$@"
EOF
chmod +x ~/.local/bin/ncspot

# https://github.com/nmap/nmap/issues/1864
# https://libreddit.garudalinux.org/r/bashonubuntuonwindows/comments/tikwt1/how_do_i_make_my_wsl_to_make_network_scans_for_my/
# https://superuser.com/questions/1700040/alexa-device-not-found-via-nmap-in-wsl2

cat <<-'EOF' >~/.local/bin/nmap
	#!/bin/sh

	exec /mnt/c/Program\ Files\ \(x86\)/Nmap/nmap.exe "$@"
EOF
chmod +x ~/.local/bin/nmap

# NOTE: run a script when etc file changes
# https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/#run-a-script-when-the-contents-of-another-file-changes
# https://github.com/twpayne/chezmoi/issues/4364
# https://github.com/alker0/chezmoi.vim/issues/76
cat <<-EOF >/dev/null
	{{ include (joinPath .chezmoi.sourceDir "../etc/wsl.conf") | sha256sum }}
	{{ include (joinPath .chezmoi.sourceDir "../etc/tmpfiles.d/wslg.conf") | sha256sum }}
	{{ include (joinPath .chezmoi.sourceDir "../etc/systemd/system/systemd-timesyncd.service.d/override.conf") | sha256sum }}

	{{ include (joinPath .chezmoi.sourceDir "../etc/systemd/system/rkhunter.service") | sha256sum }}
	{{ include (joinPath .chezmoi.sourceDir "../etc/systemd/system/rkhunter.timer") | sha256sum }}
	{{ include (joinPath .chezmoi.sourceDir "../etc/sudoers.d/env-keep") | sha256sum }}
	{{ include (joinPath .chezmoi.sourceDir "../etc/sudoers.d/pwfeedback") | sha256sum }}
	{{ include (joinPath .chezmoi.sourceDir "../etc/sudoers.d/wheel") | sha256sum }}
EOF
