{{ range .packages.windows.winget -}}
echo 'INFO: Install {{ . | quote }}'
winget install --no-upgrade -e --id {{ . | quote }}
{{ end -}}

echo 'Install fonts'
if (Get-Command "scoop" -ErrorAction SilentlyContinue) {
  Import-Module Microsoft.PowerShell.Security
  Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
  Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
} else {
  echo "WARN: scoop already installed -- skipping"
}
scoop bucket add nerd-fonts
sudo scoop install -g --no-update-scoop firacode
