{{ range .packages.windows.winget -}}
echo 'INFO: Install {{ . | quote }}'
winget install --no-upgrade -e --id {{ . | quote }}
{{ end -}}

echo 'Install fonts'
scoop bucket add nerd-fonts
sudo scoop install -g --no-update-scoop firacode

echo 'Install BurntToast'
pwsh -Command 'Install-Module -Name BurntToast'
