# yaml-language-server: $schema=https://json.schemastore.org/lazygit.json
gui:
  nerdFontsVersion: 3
  showCommandLog: false
  showBottomLine: false
git:
  parseEmoji: true
  paging:
    colorArg: always
    pager: delta --paging=never
  # delta not support `git log --graph`
  # https://github.com/jesseduffield/lazygit/blob/v0.28.2/docs/Config.md#default
  # https://github.com/dandavison/delta/issues/141
  branchLogCmd: "git log --abbrev-commit --pretty=medium {{branchName}} --"
  allBranchesLogCmd: "git log --all --abbrev-commit --pretty=medium"
disableStartupPopups: false
customCommands:
  - key: "c"
    command: "git browse-ci"
    context: "status"
    loadingText: "opening CI page"
    subprocess: false
  - key: "f"
    command: "nnn"
    context: "status"
    loadingText: "opening file manager"
    subprocess: true
  - key: "i"
    command: "git open --issue"
    context: "status"
    loadingText: "opening issue page"
    subprocess: false
  - key: "o"
    command: "git open"
    context: "status"
    loadingText: "opening repository page"
    subprocess: false
  - key: "c"
    command: "git cz"
    context: "files"
    loadingText: "opening commitizen commit tool"
    subprocess: true
  - key: "<c-f>"
    command: "nnn {{.SelectedFile.Name}}"
    context: "files"
    loadingText: "opening file manager"
    subprocess: true
  - key: "D"
    # yamllint disable-line rule:line-length
    command: "git delete-merged-branches"
    context: "localBranches"
    loadingText: "Pruning..."
    description: "prune local branches that have been merged to default branch"
    prompts:
      - type: 'confirm'
        title: 'Prune local branches'
        body: 'Are you sure you want to prune local branches?'
  - key: "D"
    command: "git remote prune {{.SelectedRemote.Name}}"
    context: "remotes"
    loadingText: "Pruning..."
    description: "prune deleted remote branches"
    prompts:
      - type: 'confirm'
        title: 'Prune deleted remote branches'
        body: 'Are you sure you want to prune deleted remote branches?'
  - key: "<C-f>"
    command: "git absorb"
    context: "commits"
    loadingText: "automatic fixup"
    showOutput: true
  # https://github.com/jesseduffield/lazygit/issues/1807
  - key: "<c-t>"
    command: "git revert --continue"
    context: "commits"
    loadingText: "continue the revert operation in progress"
    subprocess: true
