# yaml-language-server: $schema=https://json.schemastore.org/lazygit.json
gui:
  nerdFontsVersion: 3
  showCommandLog: false
  showBottomLine: false
  showDivergenceFromBaseBranch: arrowAndNumber
git:
  parseEmoji: true
  paging:
    colorArg: always
    # https://github.com/jesseduffield/lazygit/issues/3473#issuecomment-2039010947
    pager: delta --paging=never --dark
  # delta not support `git log --graph`
  # https://github.com/jesseduffield/lazygit/blob/v0.28.2/docs/Config.md#default
  # https://github.com/dandavison/delta/issues/141
  branchLogCmd: "git log --abbrev-commit --pretty=medium {{branchName}} --"
  allBranchesLogCmd: "git log --all --abbrev-commit --pretty=medium"
disableStartupPopups: false
customCommands:
  - key: "c"
    command: "git browse-ci"
    context: "status"
    description: "Open CI page"
    loadingText: "Opening CI page..."
    subprocess: false
  - key: "f"
    command: "yazi"
    context: "status"
    description: "Open file manager"
    subprocess: true
  - key: "i"
    command: "git open --issue"
    context: "status"
    description: "Open issue page"
    loadingText: "Opening issue page..."
    subprocess: false
  - key: "o"
    command: "git open"
    context: "status"
    description: "Open repository page"
    loadingText: "Opening repository page..."
    subprocess: false
  - key: "c"
    command: "git cz"
    context: "files"
    description: "Commit changes with git cz"
    subprocess: true
  - key: "w"
    command: "git cz --no-verify"
    context: "files"
    description: "Commit changes with git cz --no-verify"
    subprocess: true
  - key: "<c-f>"
    command: "yazi {{.SelectedFile.Name}}"
    context: "files"
    description: "Open file manager"
    subprocess: true
  - key: "D"
    # yamllint disable-line rule:line-length
    command: "git delete-merged-branches"
    context: "localBranches"
    description: "Prune local branches that have been merged to default branch"
    loadingText: "Pruning..."
    prompts:
      - type: 'confirm'
        title: 'Prune local branches'
        body: 'Are you sure you want to prune local branches?'
  - key: "D"
    command: "git remote prune {{.SelectedRemote.Name}}"
    context: "remotes"
    description: "Prune deleted remote branches"
    loadingText: "Pruning..."
    prompts:
      - type: 'confirm'
        title: 'Prune deleted remote branches'
        body: 'Are you sure you want to prune deleted remote branches?'
  - key: "<C-f>"
    command: "git absorb"
    context: "commits"
    description: "Create fixup commit automatically"
    loadingText: "automatic fixup"
    showOutput: true
  # https://github.com/jesseduffield/lazygit/issues/1807
  - key: "<c-t>"
    command: "git revert --continue"
    context: "commits"
    description: "Continue the revert operation in progress"
    subprocess: true
