#!/bin/sh

set -eu

gum log --level info 'Enable system services'
sudo bash -c "systemctl enable $(
	tr '\n' ' ' <<-EOF
		{{ range .services.systemd.system.enabled -}}
		{{ . }}
		{{ end -}}
	EOF
)"

gum log --level info 'Start system services'
sudo bash -c "systemctl start $(
	tr '\n' ' ' <<-EOF
		{{ range .services.systemd.system.running -}}
		{{ . }}
		{{ end -}}
	EOF
)"

WSL_DISTRO_NAME="${WSL_DISTRO_NAME:=none}"

gum log --level info 'Enable user services'
if [ "$WSL_DISTRO_NAME" == "none" ]; then
	bash -c "systemctl --user enable $(
		tr '\n' ' ' <<-EOF
			{{ range .services.systemd.user.enabled -}}
			{{ . }}
			{{ end -}}
		EOF
	)"
else
	gum log --level warn 'running on WSL -- skipping'
fi

gum log --level info 'Start user services'
if [ "$WSL_DISTRO_NAME" == "none" ]; then
	bash -c "systemctl --user start $(
		tr '\n' ' ' <<-EOF
			{{ range .services.systemd.user.running -}}
			{{ . }}
			{{ end -}}
		EOF
	)"
else
	gum log --level warn 'running on WSL -- skipping'
fi
