#!/bin/sh

set -euo pipefail

gum log --level info 'Check systemd user session'
systemctl --user show-environment >/dev/null

gum log --level info 'Configure subordinate UID/GID mappings'
# NOTE: use systemd-homed allocated range from 524288 to 589823
# https://github.com/systemd/systemd/issues/29297#issuecomment-1851193496
# https://wiki.archlinux.org/title/Podman#Workaround_for_users_managed_by_homed
if ! grep -q -e "^$(id -un):" -e "^$(id -u):" /etc/subuid; then
	sudo usermod --add-subuids 524288-589823 "$(id -un)"
else
	gum log --level warn 'UID mapping already exists -- skipping'
fi
if ! grep -q -e "^$(id -un):" -e "^$(id -u):" /etc/subgid; then
	sudo usermod --add-subgids 524288-589823 "$(id -un)"
else
	gum log --level warn 'GID mapping already exists -- skipping'
fi

gum log --level info 'Configure docker rootless context'
if ! docker context inspect rootless >/dev/null 2>&1; then
	docker context create rootless --docker "host=unix://$XDG_RUNTIME_DIR/docker.sock"
	docker context use rootless
else
	gum log --level warn 'docker rootless context already exists -- skipping'
fi

gum log --level info 'Reload user services and quadlet definitions'
systemctl --user daemon-reload

gum log --level info 'Prepare encrypted postgresql credential'
if ! [ -f "$HOME/.config/credstore.encrypted/litellm-postgres-password" ]; then
	if [ -d /mnt/wsl ]; then
		with_key=host
	else
		with_key=host+tpm2
	fi

	install -d -m 700 "$HOME/.config/credstore.encrypted"

	openssl rand -base64 24 |
		tr '/+' '_-' |
		systemd-creds encrypt \
			--user \
			--with-key="$with_key" \
			--name=litellm-postgres-password \
			- "$HOME/.config/credstore.encrypted/litellm-postgres-password"
else
	gum log --level warn 'encrypted postgresql credential already exists -- skipping'
fi

# NOTE: run a script when file changes
# https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/#run-a-script-when-the-contents-of-another-file-changes
cat <<'EOF' >/dev/null
{{ include (joinPath .chezmoi.sourceDir "dot_config/systemd/user/docker.service.d/socket-activation.conf") | sha256sum }}
{{ include (joinPath .chezmoi.sourceDir "dot_config/containers/systemd/litellm-postgres.container") | sha256sum }}
{{ include (joinPath .chezmoi.sourceDir "dot_config/containers/systemd/litellm-postgres.volume") | sha256sum }}
EOF
