#!/bin/sh

set -eu

if [ -d /mnt/wsl ]; then
	gum log --level warn "$0: running on WSL -- skipping"
	exit 0
fi

gum log --level info 'Deploy etc files'
dir="$HOME/.local/share/chezmoi"
xargs -I {} sudo install -C -D -v -m 0644 -o root -g root "$dir/{}" /{} <<-EOF
	etc/keyd/default.conf
	etc/polkit-1/rules.d/50-udisks.rules
	etc/systemd/zram-generator.conf
	etc/systemd/timesyncd.conf.d/ntp.conf
	etc/systemd/system/openvpn-reconnect.service
	etc/udev/rules.d/99-lowbat.rules
	etc/ssh/sshd_config.d/permit_root_login.conf
	etc/pacman.d/hooks/rkhunter-propupd.hook
	etc/rkhunter.d/allow-etckeeper.conf
	etc/rkhunter.d/allow-glibc.conf
	etc/rkhunter.d/allow-grep.conf
	etc/rkhunter.d/allow-krb5.conf
	etc/rkhunter.d/allow-podman.conf
	etc/rkhunter.d/allow-postgresql.conf
	etc/rkhunter.d/allow-ssh.conf
	etc/rkhunter.d/allow-systemd.conf
	etc/rkhunter.d/allow-yazi.conf
	etc/rkhunter.d/allow-zoom.conf
	etc/rkhunter.d/disable-port-test.conf
EOF

gum log --level info 'Update etc files'
sudo sed \
	-i \
	-e '/^clock =/s/null/%a, %b %d %H:%M/' \
	-e '/^border_fg =/s/0x00FFFFFF/0x007DCFFF/' \
	-e '/^hide_key_hints =/s/false/true/' \
	-e '/^hide_version_string =/s/false/true/' \
	/etc/ly/config.ini
sudo sed \
	-i \
	-e '/^#GOVERNOR=/s/ondemand/performance/' \
	-e '/^#GOVERNOR=/s/#//' \
	-e '/^#MAX_FREQ=/s/#MAX_FREQ="[0-9]*GHz"/MAX_FREQ="2GHz"/' \
	/etc/default/cpupower-service.conf
sudo sed \
	-i \
	-e '/^#AutoEnable=/s/true/false/' \
	-e '/^#AutoEnable=/s/#//' \
	/etc/bluetooth/main.conf

# U2F PAM
if ! sudo grep -q "pam_u2f.so" /etc/pam.d/sudo; then
	sudo sed \
		-i \
		-e '/^#%PAM-1.0$/a auth		sufficient		pam_u2f.so		cue		origin=pam:\/\/localhost		appid=pam:\/\/localhost' \
		/etc/pam.d/sudo
else
	gum log --level warn "U2F PAM already set in /etc/pam.d/sudo -- skipping"
fi

if ! [ -f /etc/pam.d/polkit-1 ]; then
	sudo install -C -D -v -m 0644 -o root -g root /usr/lib/pam.d/polkit-1 /etc/pam.d/polkit-1
fi
if ! sudo grep -q "pam_u2f.so" /etc/pam.d/polkit-1; then
	sudo sed \
		-i \
		-e '/^#%PAM-1.0$/a auth		sufficient		pam_u2f.so		cue		origin=pam:\/\/localhost		appid=pam:\/\/localhost' \
		/etc/pam.d/polkit-1
else
	gum log --level warn "U2F PAM already set in /etc/pam.d/polkit-1 -- skipping"
fi

if ! sudo grep -q "pam_u2f.so" /etc/pam.d/hyprlock; then
	sudo sed \
		-i \
		-e '/^auth        include     login$/i auth		sufficient		pam_u2f.so		cue		origin=pam:\/\/localhost		appid=pam:\/\/localhost' \
		/etc/pam.d/hyprlock
else
	gum log --level warn "U2F PAM already set in /etc/pam.d/hyprlock -- skipping"
fi

# GNOME keyring
sudo sed \
	-i \
	-e '/^auth *optional *pam_gnome_keyring.so$/! {
			/^auth *include *system-local-login$/a auth       optional     pam_gnome_keyring.so
		}' \
	-e '/^session *optional *pam_gnome_keyring.so auto_start$/! {
			/^session *include *system-local-login$/a session    optional     pam_gnome_keyring.so auto_start
		}' \
	/etc/pam.d/login

sudo sed \
	-i \
	-e '/^password	optional	pam_gnome_keyring.so$/! {
			$ a password	optional	pam_gnome_keyring.so
		}' /etc/pam.d/passwd

# rkhunter
gum log --level info 'Configure rkhunter'
if ! systemctl is-active -q rkhunter.timer; then
	# NOTE: use /dev/null to ignore grep warning
	sudo rkhunter --update 2>/dev/null
	sudo rkhunter --config-check 2>/dev/null
	sudo rkhunter --propupd 2>/dev/null
	sudo rkhunter -c --sk 2>/dev/null
else
	gum log --level warn "rkhunter already configured -- skipping"
fi

gum log --level info 'Configure etckeeper'
if ! [ -d /etc/.git ]; then
	sudo etckeeper init
	sudo git -C /etc/ config --local user.name "etckeeper"
	sudo git -C /etc/ config --local user.email "etckeeper@localhost"
	sudo etckeeper commit "Initial commit"
else
	gum log --level warn "etckeeper already configured -- skipping"
fi

# NOTE: run a script when etc file changes
# https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/#run-a-script-when-the-contents-of-another-file-changes
# https://github.com/twpayne/chezmoi/issues/4364
# https://github.com/alker0/chezmoi.vim/issues/76
cat <<-EOF >/dev/null
	{{ range (glob (joinPath .chezmoi.sourceDir "../etc/**")) -}}
	{{   if eq (stat .).type "file" -}}
	{{ includeTemplate . | sha256sum }}
	{{   end }}
	{{- end -}}
EOF
