:root {
  --cc-bg: rgba(0, 0, 0, 0.6);
  --noti-border-color: rgba(76, 120, 153, 1.0);
  --noti-bg: rgba(0, 0, 0, 0.6);
  --noti-bg-alpha: 0.8;
  --noti-bg-opaque: rgb(28, 28, 28);
  --noti-bg-darker: rgb(28, 28, 28);
  --noti-bg-hover: rgb(36, 36, 36);
  --noti-bg-hover-opaque: rgb(36, 36, 36);
  --noti-bg-focus: rgba(48, 48, 48, 0.6);
  --noti-btn-bg: rgb(58, 58, 58);
  --noti-btn-bg-hover: rgb(78, 78, 78);
  --noti-close-bg: rgba(217, 216, 216, 0.1);
  --noti-close-bg-hover: rgba(217, 216, 216, 0.15);
  --text-color: rgb(217, 216, 216);
  --text-color-disabled: rgb(150, 150, 150);
  --bg-selected: rgba(51, 204, 255, 0.93);
  --notification-icon-size: 64px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 24px;
}

.close-button {
  border-radius: 0px;
}

.notification-row .notification-background .notification {
  border-radius: 0px;
  background: var(--noti-bg);
}

.notification-row .notification-background .notification .notification-default-action {
  border-radius: 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  border-radius: 0px;
  padding: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  border-radius: 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  font-size: 0.9rem;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  font-size: 0.9rem;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  font-size: 0.9rem;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  border-radius: 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
  border-radius: 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
  border-radius: 0px;
}

.notification-row .notification-background .notification .notification-alt-actions {
  border-top: 1px solid var(--noti-border-color);
  border-radius: 0px;
  border-right: 1px solid var(--noti-border-color);
}

.notification-row .notification-background .notification .notification-action>button {
  color: var(--text-color);
  border: 1px solid var(--noti-border-color);
  border-radius: 0px;
}

.notification-row .notification-background .notification .notification-action>button:hover {
  background: var(--noti-btn-bg-hover);
}

.notification-group:focus {
  background: var(--noti-bg);
}

.notification-group .notification-group-headers {
  font-size: 0.7rem;
}

.notification-group .notification-group-headers .notification-group-icon {
  color: var(--text-color);
  -gtk-icon-size: var(--notification-group-icon-size);
}

.notification-group.collapsed .notification-row .notification {
  background-color: var(--noti-bg-opaque);
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
  background-color: var(--noti-bg-hover-opaque);
}

.control-center {
  border-radius: 0px;

  /*
  * https://github.com/ErikReider/SwayNotificationCenter/pull/371
  */
  margin-right: -400px;
  margin-left: 400px;
}

/*
* https://github.com/ErikReider/SwayNotificationCenter/pull/371
*/
.open .control-center {
  transition: all 0.25s ease-out;
  margin: 0px;
}

/*** Widgets ***/
/* Title widget */
.widget-title>label {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.0rem;
}

.widget-title>button {
  font-weight: bold;
  font-size: initial;
  color: var(--text-color);
  text-shadow: none;
  background: var(--noti-btn-bg);
  border: 1px solid var(--noti-border-color);
  box-shadow: none;
  border-radius: 0px;
}

.widget-title>button:hover {
  background: var(--noti-btn-bg-hover);
}

/* DND widget */
.widget-dnd label {
  font-size: 1rem;
}

.widget-dnd>switch {
  border-radius: 0px;
  background: var(--text-color-disabled);
  border: 1px solid var(--noti-border-color);
}

.widget-dnd>switch:checked {
  background: var(--bg-selected);
}

.widget-dnd>switch slider {
  background: var(--noti-bg-hover);
  border-radius: 0px;
}

/* Label widget */
.widget-label>label {
  font-size: 0.9rem;
}

/* Mpris widget */
.widget-mpris .widget-mpris-player {
  border-radius: 0px;
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-album-art {
  border-radius: 0px;
}

/* Buttons widget */
.widget-buttons-grid {
  border-radius: 0px;
}

.widget-buttons-grid>flowboxchild>button {
  border-radius: 0px;
}

/* Menubar widget */
.widget-menubar>.menu-button-bar>.widget-menubar-container button {
  border-radius: 0px;
}

.widget-menubar>revealer button {
  border-radius: 0px;
}

/* Volume widget */
.widget-volume {
  border-radius: 0px;
}

/* Each row app icon */
.per-app-volume {
  border-radius: 0px;
}

/* Slider widget */
.widget-slider {
  border-radius: 0px;
}

/* Backlight widget */
.widget-backlight {
  border-radius: 0px;
}

/* Inhibitors widget */
.widget-inhibitors>button {
  border-radius: 0px;
}
