* {
  color: rgba(217, 216, 216, 1);
  background: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 0;
  font-family: Sans;
  font-size: 17px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  padding: 0 5px;
  color: rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
  color: rgba(217, 216, 216, 1);
}

#mode,
#battery,
#network,
#pulseaudio,
#custom-im-info {
  margin: 0px 6px 0px 10px;
  min-width: 15px;
}

#clock {
  margin: 0px 16px 0px 10px;
  min-width: 120px;
}

#battery.warning {
  color: rgba(255, 210, 4, 1);
}

#battery.critical {
  color: rgba(238, 46, 36, 1);
}

#battery.charging {
  color: rgba(217, 216, 216, 1);
}
