[Desktop Entry]
Name=Tresorit
GenericName=Tresorit
Comment=Secure file synchronization and sharing
Categories=Utility;Accessory;Network;
Version=3.5.1274.4640
Terminal=false
Type=Application
Exec=/home/n4vysh/.local/share/tresorit/tresorit %u
MimeType=x-scheme-handler/tresorit
Icon=/home/n4vysh/.local/share/tresorit/tresorit.png
