[Match]
Name=wlan*

[Network]
DHCP=yes
# WARN: Do not add ipv6 address to avoid ipv6 leak
DNS=103.86.96.100 103.86.99.100 # NordVPN DNS servers
# NOTE: NordVPN DNS server not support DNSSEC and DoT
#       https://github.com/NordSecurity/nordvpn-linux/issues/778#issuecomment-2747512235
DNSSEC=false
DNSOverTLS=false

[DHCPv4]
UseDNS=false
RouteMetric=600

[DHCPv6]
UseDNS=false

[IPv6AcceptRA]
UseDNS=false
RouteMetric=600
