[mgr]
prepend_keymap = [
  # Hopping
  { on = "G", run = "noop" },
  { on = [
    "g",
    "e",
  ], run = "arrow bot", desc = "Move cursor to the bottom" },

  # Navigation
  { on = "L", run = "noop" },
  { on = "H", run = "noop" },
  { on = "<Tab>", run = "forward", desc = "Go forward to the next directory" },
  { on = "<C-o>", run = "back", desc = "Go back to the previous directory" },

  # Spotting
  { on = "i", run = "spot", desc = "Spot hovered file" },

  # Operation
  { on = "Z", run = "noop" },

  # Help
  { on = "<A-h>", run = "help", desc = "Open help" },

  # Plugins
  { on = [
    ",",
    "z",
  ], run = "plugin zoxide", desc = "Jump to a directory via zoxide" },
  { on = [
    ",",
    "t",
  ], run = [
    "plugin toggle-pane min-parent",
    "plugin toggle-pane min-preview",
  ], desc = "Show or hide the parent and preview pane" },
  { on = "M", run = "plugin mount", desc = "Show mount manager" },
  { on = [
    "c",
    "m",
  ], run = "plugin chmod", desc = "Change mode on selected files" },

  # Shell commands
  { on = [
    "g",
    "r",
  ], run = 'shell -- ya emit cd "$(git rev-parse --show-toplevel)"', desc = "Goto project directory" },
  { on = [
    ",",
    "d",
  ], run = "shell --block -- diff -u $1 $2 | delta --paging always", desc = "Show diff" },
  { on = [
    ",",
    "e",
  ], run = "shell --block -- $EDITOR", desc = "Run editor" },
  { on = [
    ",",
    "l",
  ], run = "shell --block -- lazygit --filter $1", desc = "Show log" },
  { on = [
    ",",
    "T",
  ], run = "shell --block -- trash-restore", desc = "Restore from trash" },
  { on = [
    ",",
    "u",
  ], run = "shell --block -- unbuffer dust -rP | less", desc = "Show disk usage" },
  { on = [
    ",",
    "v",
  ], run = "shell --block -- lazygit", desc = "Show TUI for vcs" },

  # nnn-like keymaps
  { on = "q", run = "quit --no-cwd-file", desc = "Quit the process without outputting cwd-file" },
  { on = "<C-g>", run = "quit", desc = "Quit the process" },
]
