[Unit]
Description=Reload waybar

[Service]
Type=oneshot
ExecStart=killall -SIGUSR2 waybar
ExecStart=notify-send "Reloaded waybar"

[Install]
WantedBy=multi-user.target
