[Unit]
Description=Reload swaync

[Service]
Type=oneshot
ExecStart=swaync-client -R
ExecStart=swaync-client -rs
ExecStart=notify-send "Reloaded swaync"

[Install]
WantedBy=multi-user.target
