name: main
"on": push
jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
      env:
        XDG_CONFIG_HOME: "/github/home/.config"
    steps:
      - name: Install packages
        run: |
          sed \
            -i \
            -e 's/^#ParallelDownloads = .*$/ParallelDownloads = 20/' \
            /etc/pacman.conf
          sed \
            -i \
            -e 's/-march=x86-64 -mtune=generic/-march=native/' \
            -e "/^#MAKEFLAGS=\"-j2\"$/s/-j2/-j$(nproc)/" \
            -e '/^COMPRESSZST/s/zstd -c/zstd -1 --threads=0 -c/' \
            /etc/makepkg.conf
          pacman -Syu --noconfirm \
            sudo \
            just \
            pre-commit \
            prettier \
            yamlfmt \
            yamllint \
            markdownlint-cli2 \
            shellcheck \
            zsh \
            selene \
            stylua \
            editorconfig-checker \
            taplo \
            shellharden \
            shfmt \
            clang \
            git \
            yadm \
            mise
      - name: Initialize packages with mise
        run: mise install && eval "$(mise env)"
      - uses: actions/checkout@main
      - name: Deploy dotfiles
        run: |
          yadm clone -b src https://github.com/n4vysh/dotfiles
          yadm list -a
      - name: Set safe directory for submodule clone
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Change protocol for git clone
        run: |
          git config --global --remove-section url."git@github.com:"
          git config --global \
            url."https://github.com/".insteadOf \
            git@github.com:
      - name: Run pre-commit
        run: SKIP=hyprland,goss just test
