* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(12, 12, 12, 0.5);
}

button {
  border-radius: 0;
  border-color: black;
  text-decoration-color: #FFFFFF;
  color: #FFFFFF;
  background-color: #1E1E1E;
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:focus,
button:active,
button:hover {
  background-color: rgba(51, 70, 124, 0.9);
  outline-style: none;
}

#logout {
  background-image: image(url("./icons/logout.svg"));
}

#suspend {
  background-image: image(url("./icons/suspend.svg"));
}

#shutdown {
  background-image: image(url("./icons/shutdown.svg"));
}

#reboot {
  background-image: image(url("./icons/reboot.svg"));
}
